[submodule "vendor/btor2tools"]
	path = vendor/btor2tools
	url = https://github.com/Boolector/btor2tools.git
[submodule "vendor/bitwuzla"]
	path = vendor/bitwuzla
	url = https://github.com/bitwuzla/bitwuzla.git
